<app-menu-bar [showForCustomers]="true"></app-menu-bar>

<head>
  <meta charset="UTF-8">
  <title>Super app!</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=<Your API KEY>&libraries=places&language=en"></script>
</head>

<div class="floatcontainer w3-container w3-black" [hidden]="!isAnyCustomersPreset">

  <form  class="sel w3-left w3-selection bg-dark w3-padding " [formGroup]="formGroup">
    <input type="hidden" name="customer.id"/>
    <p class="text-white bg-dark"> Enter first name:</p> <input formControlName="firstname" class="w3-input w3-animate-input w3-border w3-round-large" style="width: 30%" type="text" [(ngModel)]= "customer.firstName" name ="firstName"/><br/>
    <p class="text-white bg-dark">   Enter last name:</p><input formControlName="lastname" class="w3-input w3-animate-input w3-border w3-round-large" style="width: 30%" type="text" [(ngModel)]= "customer.lastName" name ="lastName"/><br/>
    <p class="text-white bg-dark">  Enter email name:</p><input  formControlName="email" type="text" [(ngModel)]= "customer.email" name ="email" [ngClass]="formGroup.get('email').invalid ? 'invalid-input' : 'valid-input'"  class="w3-input w3-animate-input w3-border w3-round-large" /><br/>

    <button [disabled]="!formGroup.valid" class="w3-btn w3-yellow w3-round-large w3-margin-bottom"   (click) = "addCustomer()">Update Customer</button>
  </form>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="blog_left_sidebar" *ngFor="let customer of customerPage ">
        <article class="blog_style1">
          <div class="blog_img">
            <img class="img-fluid" src= "{{urlImg}}{{customer.image}}" alt="">
          </div>
          <div class="blog_text">
            <div class="blog_text_inner">
              <div class="cat">
                <a><i class="far fa-calendar-alt" aria-hidden="true"></i> {{customer.updated}}
                </a>
                <a><i style=" color: #FFC107;" class="fas fa-star" aria-hidden="true"></i> {{customer.rating}}
                </a>
              </div>
              <h4>{{customer.firstName}} {{customer.lastName}}</h4>
              <h3>{{customer.email}}</h3>
              <div  *ngIf="isAdmin()==true" class="sell  custom-file">
                <input type="file" class=" custom-file-input" id="customFile" (change)="onSelectFile($event,customer.id)">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <select class="form-control status-select"
                      name="selectedStatus" (change)="updateCustomerStatus(customer.id,$event.target.value)"
                      style="width: 35%; float: right;">
                <option selected> Choose Status </option>
                <option *ngFor="let selectedStatus of customerStatuses" [value]="selectedStatus">
                  {{selectedStatus}}
                </option>
              </select>
              <br/>
              <button *ngIf="isAdmin()==true" class="left genric-btn primary" (click)="deleteCustomer(customer.id)" style="margin-right: 10px;margin-top: 20px; margin-left: 10px; background-color: darkred;">Delete</button>
              <button *ngIf="isAdmin()==true" class=" genric-btn primary" (click)="getCustomerById(customer.id)" style="margin-top: 20px;margin-right: 10px; background-color: darkgreen" >Update</button>
              <br/>
            </div>
          </div>
        </article>
      </div>
      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let p of pages; let i=index">
          <a  class="nav-link " href="" (click)="setPage(i,$event)" >{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
