.notification_message_block {
}

.notification_time {
  float: right;
  font-style: italic;
  font-size: 80%;
  z-index: 12;
}

.notification_dropdown_block {
  background: #212121;
  z-index: 12;
}

.notification-block {
  float: left;
  right: 70%;
  height: 400px;
  min-width: 150%;
  width: 150%;
}
.notification-card{
  min-width: 200px;
}


.notification-header {
  font-weight: bold;
  font-size: 100%;
}

.notification-message {
  font-style: italic;
  font-size: 80%;
}

.unread {
  background: #f5ff70;
}

.read {
}

.dot {
  float: right;
}
