<app-nav></app-nav>
<br/>
<br/>
<br/>
<br/>
<div class="card mb-3" style="max-width: 1200px; ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img width="400" height="400" src= "http://localhost:8080/service-providers/image/{{serviceProvider.image}}" class="rounded" alt="{{serviceProvider.image}}">
        <div class="form-group">
          <br/>
          <label for="file" style="margin-left: 10px;">File upload:</label>
          <input type="file" class="form-control" accept="image/" (change)="onSelectFile($event,serviceProvider.id)" style="height:100%" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
         <form>
          Enter name: <input type="text" class="form-control" [(ngModel)]="serviceProvider.name" name = "name" value="serviceProvider.name"><br/>
          Enter email: <input type="text" class="form-control" [(ngModel)]="serviceProvider.email" name = "email" value="serviceProvider.email"><br/>
          Enter description: <textarea  class="form-control" [(ngModel)]="serviceProvider.description" name = "description" value="serviceProvider.description" cols="500" rows="5"></textarea><br/>
           <h3>Your location:</h3>
           <p class="card-text">Country: {{serviceProvider.location?.country}}</p>
           <p class="card-text">Region: {{serviceProvider.location?.region}}</p>
           <p class="card-text">City: {{serviceProvider.location?.city}}</p>
           <div class="input-container">
             Enter your location: <input
             type="text"
             class="google-place-input"
             google-place
             (onSelect)="setAddress($event)"
             placeholder="Type to search..">
           </div>
           <button style="margin-top: 54px;" class="btn btn-success" (click) = "updateService(serviceProvider.id)">Update</button>
         </form>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <button class="btn btn-danger" routerLink = "/service-providers"> Previos page</button>
  <br/>
  <br/>
  <app-footer></app-footer>
