<app-nav></app-nav>
<br/>
<br/>
<br/>
<br/>
<div *ngIf="isCurrentProvider(serviceProvider.userDTO.id) || isAdmin()">
  <div class="card mb-3" style="max-width: 1200px; margin: 25px; ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img width="400" height="400" src="{{url+serviceProvider.image}}" class="rounded"
             alt="{{serviceProvider.image}}">
        <div class="form-group">
          <br/>
          <label class="custom-file-upload">
            <input type="file" class="btn btn-outline-info" accept="image/"
                   (change)="onSelectFile($event,serviceProvider.id)"
                   style="height:100%;" [hidden]="true"/>
            <i class="fa fa-cloud-upload" style="margin-left: 10px;"></i> Change image
          </label>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <form [formGroup]="formGroup">
            Enter name: <input formControlName="name" type="text" class="form-control" [(ngModel)]="serviceProvider.name" name="name"
                              ><br/>
            Enter email: <input formControlName="email" type="text" class="form-control" [(ngModel)]="serviceProvider.email" name="email"
                               ><br/>
            Enter description: <textarea formControlName="description" class="form-control" [(ngModel)]="serviceProvider.description"
                                         name="description"
                                         cols="500" rows="5"></textarea><br/>

            </form>
            <div style="margin-top: 15px;">
              <h4>Services:</h4>
              <ul class="list-horizontal">
                <li *ngFor="let service of serviceProvider.services" >
                  <h5>{{service.serviceName}}    <button style="margin-left: 10px;" class="btn btn-outline-danger" (click)="deleteByServiceName(service.serviceName)">Х</button></h5>
                </li>
              </ul>
            </div>


            <label style="margin-right: 10px;">Choose new services:</label>
            <select id="select-type-basic" [(ngModel)]="service" [ngModelOptions]="{standalone: true}" (change)="addService()" >
              <option style="display: none;"></option>
              <option *ngFor="let ser of allServices">
                {{ser.serviceName}}
              </option>
            </select>
            <br/>
          <div style="alignment: left;" class="card-body">
            <h3>Your location:</h3>
            <p class="card-text">Country: {{serviceProvider.location?.country}}</p>
            <p class="card-text">Region: {{serviceProvider.location?.region}}</p>
            <p class="card-text">City: {{serviceProvider.location?.city}}</p>
            <div class="input-container">
              Enter your location: <input
              type="text"
              class="google-place-input"
              google-place
              (onSelect)="setAddress($event)"
              placeholder="Type to search..">
            </div>
          </div>

            <button [disabled]="!formGroup.valid" *ngIf="isCurrentProvider(serviceProvider.userDTO.id) || isAdmin()" style="margin-top: 54px;"
                    class="btn btn-success" (click)="updateService()">Update
            </button>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <button class="btn btn-danger" routerLink="/" style="margin: 25px;"> Home page</button>
</div>
<br/>
<br/>
<app-footer></app-footer>
