<app-nav></app-nav>
<br/>
<br/>
<br/>
<table class="table table-hover " align="center">
  <tr *ngFor="let feedback of feedbacks">
    <div class="rounded border border-dark" style="margin: 20px">
      <td style="width: 23%;">
        <div class="row" style="margin-left: auto;">
          <div class="description">
            <div class="col-md-8">
              <div class="card-body">
                <form>
                  From: {{feedback.userFrom}}<br/>
                  To: {{feedback.userTo}}<br/>
                  Enter comment: <br/> <textarea class="form-control" cols="500" rows="5"></textarea><br/>
                  <p class="card-text">
                    <small class="text-muted">Create at  {{feedback.createdDate}}</small>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">End date at  {{feedback.endDate}}</small>
                  </p>

                </form>
              </div>
            </div>

          </div>
        </div>
      </td>

    </div>

  </tr>
</table>
<br/>
<app-footer></app-footer>

