  <div class="blog_left_sidebar">
    <article class="blog_style1">
      <div class="blog_img">
        <img class="img-fluid" src="https://static1.squarespace.com/static/57d6dbf5ebbd1af76fa218cd/t/5a579c13e4966b1f7d7db599/1515691029787/One+Man+and+a+Toolbox+Handy+Man+Services.jpg?format=1500w" alt="">
      </div>
      <div class="blog_text">
        <div class="blog_text_inner">
          <div class="cat">
            <a href="#"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Lviv</a>
            <a href="#"><i class="far fa-calendar-alt" aria-hidden="true"></i> March 14, 2018</a>
            <a href="#"><i class="far fa-comments" aria-hidden="true"></i> 05</a>
            <div class="right">
              <span class="fas fa-heart checked"></span>
              <span class="fas fa-heart checked"></span>
              <span class="fas fa-heart checked"></span>
              <span class="fas fa-heart"></span>
              <span class="fas fa-heart"></span>
            </div>
          </div>
          <a href="#">
            <h4>Vasya Pupkin and Co.</h4>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

          <ul class="list-horizontal">
            <li>
              <h5>Electrical wiring,</h5>
            </li>
            <li>
              <h5>Home security systems</h5>
            </li>

          </ul>
          <a href="#" class="right genric-btn primary">Read more</a>
        </div>
      </div>
    </article>
  </div>
