


<div class="container py-4 px-5" style="width:30%; margin-left: 35%; margin-top:10%; background-color: #eaeaea8a;">

  <div class=" register-container" id="accordion">
    <h2 style="margin: auto; text-align: center">Registration </h2>
    <div class="choose-variant">
      <button class="btn btn-outline-warning btn-lg" id="headingOne"  style="width: 48%; margin-top: 10px;" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample2">
        Like a customer
      </button>
      <button class="btn btn-outline-warning btn-lg" id="headingTwo"  style="width: 48%; margin-top: 10px; margin-left:4%;" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" >
        Like a provider
      </button>
      <div class="collapse" id="collapseExample1" aria-labelledby="headingOne" data-parent="#accordion">
        <form (ngSubmit)="registerCustomer()" >
          <div class="form-group mt-4">
            <input type="text" class="form-control" [(ngModel)]="user.username" id="username1" name="username" autocomplete="off"
                   placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control"  id="pwd1" [(ngModel)]="user.password" name="password" autocomplete="off"
                   placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"  id="email1" [(ngModel)]="customer.email" name="email" autocomplete="off"
                   placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="customer.firstName" id="firstName1" name="firstname" autocomplete="off"
                   placeholder="First name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="customer.lastName" id="LastName1" name="lastname" autocomplete="off"
                   placeholder="Last name">
          </div>
          <div class="text-right mt-4">
            <button class="btn btn-outline-warning btn-lg">Register</button>
          </div>
        </form>
      </div>
      <div class="collapse" id="collapseExample2" aria-labelledby="headingTwo" data-parent="#accordion">
        <form (ngSubmit)="registerProvider()">
          <div class="form-group mt-4">
            <input type="text" class="form-control" [(ngModel)]="user.username" name="username" id="username2" autocomplete="off"
                   placeholder="Username">
          </div>
          <!--<div class="error" style="text-align: center; color: red;"
               *ngIf="heroForm.">
            Password is required field
          </div>-->
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="pwd2" autocomplete="off"
                   placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="provider.email" name="email" id="email" autocomplete="off"
                   placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="provider.name" name="name" id="Name" autocomplete="off"
                   placeholder="Name">
          </div>
          <div class="text-right mt-4">
            <button class="btn btn-outline-warning btn-lg">Register</button>
          </div>
        </form>
      </div>
    </div>



  </div>
</div>

