<nav class="navbar navbar-expand-lg navbar-light text-center"
     style="background-color: #222222; justify-content: left; height: 70px">
  <a class="btn btn-outline-warning btn-lg" style=" margin-right: 36.6%" routerLink="/login">Back</a>
  <a class="navbar-brand " href="/">
    <span style="color: white; font-size: 1.6em;">easy</span>
    <span style="color: #f5f528;font-size: 1.6em">REPAIRS.COM</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container py-4 px-5" style="width:30%; margin-left: 35%; margin-top: 6%; background-color: #eaeaea8a;">

  <div class="container">
    <h2 style="margin: auto; text-align: center">Password recovery </h2>
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <div class="form-group mt-4">
        <input type="email" class="form-control" formControlName="email" id="email" autocomplete="off"
               placeholder="Enter your email">
        <div class="error" style="text-align: center; color: red;"
             *ngIf="recoveryForm.controls['email'].hasError('required') && recoveryForm.controls['email'].touched">
          You must enter your own email
        </div>
        <div class="error" style="text-align: center; color: red;"
             *ngIf="recoveryForm.controls['email'].hasError('email') && recoveryForm.controls['email'].dirty">
          Example: example@example.com
        </div>
      </div>
      <div class="text-right mt-4">
        <button class="btn btn-outline-warning btn-lg">Send</button>
      </div>
    </form>
  </div>
</div>
