<div class="chat-index">

  <!--       <div class="chat-profile_content">
          <div class="avatar-user">
            <img src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="user-fullname">Петров Петр</div>
      </div> -->

  <div class="chat-column-left">
    <div class="chat-list">
      <div class="chat-list_search">

      </div>
      <div class="chat-list_rooms">
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
              <div class="chat-list_content_description_header_time"><span>10.12.2019</span>
              </div>
              <div class="chat-list_content_description_body">
                <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
                </div>
                <div class="chat-list_content_description_body_badge">
                  <span>3</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-list_content">
          <div class="avatar">
            <img
              src="https://i.kinja-img.com/gawker-media/image/upload/s--dMTJCIXu--/c_scale,f_auto,fl_progressive,q_80,w_800/myblkoukcgxb3dn1vyd7.jpg">
          </div>
          <div class="chat-list_content_description">
            <div class="chat-list_content_description_header">
              <span>Иван Иванов</span>
            </div>
            <div class="chat-list_content_description_body">
              <div class="chat-list_content_description_body_message"><span>Lorem ipsum dolor sit amet.</span>
              </div>
              <div class="chat-list_content_description_body_time"><span>10.12.2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Modal Structure -->
<div id="setting-modal" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
