@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

strong {
  font-weight: 600;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #222222;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 2em;
  z-index: 12;
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main>div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 200;
  display: none;
  transition: .3s;
}

.bg {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0.75;
  transition: .3s;
  background: #000;
  z-index: 201;
}

.button {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #f5f528;
  transition: .3s;
}

.icon-bar+.icon-bar {
  margin-top: 5px;
}

.button:focus-within .button {
  pointer-events: none;
}

.button:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.button:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

.button:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: .3s;
  contain: paint;
  z-index: 202;
  display: none;
  opacity: 1;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  margin-left: 20px;
  padding: 15px 5px;
  display: block;
  font-size: 15px;
  color: #212121;
  font-weight: 650;
  font-family: 'Roboto', sans-serif;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #f8b600;
}

#nav-content li:not(.small)+.small {
  margin-top: auto;
}

.button:focus-within+#nav-content {
  display: block;
}

.displayon {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.orange {
  color: #f5f528;
}

.login {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  align-items: center;
  left: 92%;
  font-size: 1.2em;
  color: #fff;
  z-index: 12;
}

.avatar_container {
  background: url(https://www.hdwallpapers.in/download/yellow_blue_material_design_4k-wide.jpg) no-repeat;
  background-size: 320px 180px;
  width: 100%;
  height: 170px;
  margin: 0;
  padding: 0;
  position: relative;
}

.avatar_container img {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 20px;
  position: absolute;
  left: 20px;
  right: 0;
  display: block;
}

.user_info {
  display: block;
  color: white;
  margin-left: 20px;
  font-size: 1em;
  margin-top: 100px;
  float: left;
}

.show_block {
  float: right;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
}

a i {
  margin-right: 26px;
  color: #667;
}

a:hover i {
  color: orange;
}
