<div class="image">
  <app-nav></app-nav>
  <div class="container x1">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog_left_sidebar x2" *ngFor="let offer of offerDTOs">
          <article class="blog_style1">
            <div class="blog_text">
              <div class="blog_text_inner">
                <div class="cat">
                  <div class="row">
                    <a href="https://www.google.com/maps/place/
                  {{offer.locationDTO.country}}, + {{offer.locationDTO.region}}, + {{offer.locationDTO.city}}">
                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{offer.locationDTO.country}},
                      {{offer.locationDTO.region}}, {{offer.locationDTO.city}}</a>
                  </div>
                  <div class="row">
                    <p class="col far fa-calendar-alt" aria-hidden="true"> created: {{offer.createDate}} </p>
                    <p class="col far fa-calendar-alt" aria-hidden="true"> start date: {{offer.startDate}} </p>
                    <p class="col far fa-calendar-alt" aria-hidden="true"> end date: {{offer.endDate}} </p>
                  </div>
                  <p class="far fa-comments" aria-hidden="true"> {{offer.description}}</p>
                  <ul class="list">
                    <li *ngFor="let service of offer.serviceDTOs" [id]="service.id">
                      <h6>{{service.serviceName}}</h6>
                    </li>
                  </ul>
                </div>
                <countdown [config]="{stopTime: getRemoveTime(offer)}">$!d! days left</countdown>

                <button *ngIf="(isAdmin() || compareWithCustomerId(offer.customerDTO.id))"
                        (click)="deleteOfferDTOById(offer.id)"
                        class="right genric-btn primary">Delete
                </button>
                <button *ngIf="(timerEnds[offer.id] && (isAdmin() || compareWithCustomerId(offer.customerDTO.id)))"
                        (click)="continueOffer(offer)"
                        class="right btn btn-outline-info continue-button">Continue Offer
                </button>
                <button *ngIf="isProvider()" [routerLink]="['/chat',offer.customerDTO.userDTO.id,'2']"
                        style="margin-right: 20px"
                        class="right genric-btn primary">Contact with customer
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
