<section class="home_banner_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="blog_text_slider">
          <div class="item">
            <div class="blog_text">
              <a href="#">
                <h4>Because doing it yourself isn't for everyone</h4>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <a class="right genric-btn primary" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
