<div class="blog_right_sidebar">
  <aside class="search_widget_title_area">
    <div class="title_area">
      <p>FIND YOUR <span class="blue">SERVICE</span> CENTER</p>
    </div>
  </aside>







  <aside class="single_sidebar_widget search_widget">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="LOCATION"  [(ngModel)]="providersCriteria.location" name = "location" value="providersCriteria.location">
      <button class="btn sub-btn" type="button"><i class="fas fa-map-marker-alt"></i></button>
      <select class="cu-select"  >
        <option selected="selected">SORT BY</option>
        <option value="1">STAR RATING </option>
        <option value="2">REGISTRATION DATE</option>
        <option value="3">NAME SERVICE PROVIDER</option>
        <option value="4">NUMBER OF CONTRACTS COMPLETED</option>
      </select>
      <button class="btn sub-btn-order" type="button"><i class="fas fa-sort"></i></button>
    </div>
  </aside>

  <aside>
    <h4 class="widget_title"><span class="red">RATING</span> Range MORE THEN</h4>
    <div class="slidecontainer">
    <input type="range" min="1" max="4" value="providersCriteria.minRating" class="slider" id="myRange" [(ngModel)]="providersCriteria.minRating">
    </div>
    <div class="right-span">   <span class="range-span" > {{providersCriteria.minRating}}</span></div>
  </aside>

  <aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title"><span class="red">SERVICE CENTER</span> Categories</h4>

      <form class="cat-list-form" action="/">

        <div class="custom-control custom-checkbox" *ngFor="let service of services">
          <input type="checkbox" class="custom-control-input"  [id]="service.id" [(ngModel)]="service.choose">>
          <label class="custom-control-label" [attr.for]="service.id">  {{service.serviceName}}</label>
        </div>

      </form>

   <button class=" genric-btn primary"  (click)="addProvidersCriteria()" >Show more category </button>
  </aside>
</div>
