<div *ngIf="isSuccess">
  <div class="h-100 bg position-absolute justify-content-center align-items-center">
    <div class="row h-100 w-75 message_container container justify-content-center align-items-center">
      <div class="container">
        <div class="align-items-center text-center bg-white rounded border border-3 border-success">
          <div>
        <i class="fas fa-check text-success icon_d"></i>
        <h3>Dear, User</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for verifying your Email!</p>
        <a href="/login" class="btn-lg btn-success">     Log in     </a>
        <a href="/" class="btn-lg btn-warning ml-4">     Main Page    </a>
        <br><br>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div *ngIf="!isSuccess">
  <div class="h-100 bg position-absolute justify-content-center align-items-center">
    <div class="row h-100 w-75 message_container container justify-content-center align-items-center">
      <div class="container">
        <div class="align-items-center text-center bg-white rounded border border-3 border-danger">
          <div>
            <i class="fas fa-times text-danger icon_d"></i>
            <h3>Dear, User</h3>
            <p style="font-size:20px;color:#5C5C5C;">Verification Failed:( Maybe your link has expired or it is already used!</p>
            <a href="/register" class="btn-lg btn-success">     Register    </a>
            <a href="/" class="btn-lg btn-warning ml-4">     Main Page    </a>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
