
.bar_text {
  display: inline-block;
  margin-right: 20px;
  margin-left: 5%;
}

.font_size {
  font-size: large;
}

h3 {
  color: azure;
}

.menu_sort {
  width: 15%;
  margin-bottom: 8px;
}

//mat-option {   background-color: #a1d1f5;  color: blueviolet;}

.myPanelClass {
  width: 30%;

}

.background_menu {
  background: #777;
}

.status-select{
  display: inline-block;
  width: 11%;
  margin-bottom: 1%;
}

.component_change_buttons {
  display: inline-block;
  margin-left: 1%;
  margin-top: 80px;
}

.input-name{
  display: inline-block;
  width: 13%;
}
