<app-nav></app-nav>
<br/>
<br/>
<br/>
<br/>
<div class="container" *ngIf="isCustomer() || isProvider() || isAdmin()">
  <div class="card mb-3" style="max-width: 1200px; margin: 0px; ">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog_left_sidebar">
          <article class="blog_style1">
            <div class="blog_img">
              <img class="img-fluid"
                   src="{{url+serviceProvider.image}}"
                   alt="">
            </div>
            <div class="row no-gutters">
              <div class="blog_text">
                <div class="blog_text_inner">
                  <div class="cat">
                    <a><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{serviceProvider.location?.city}}
                      , {{serviceProvider.location?.country}}</a>
                    <a><i class="far fa-calendar-alt" aria-hidden="true"></i> {{serviceProvider.registrationDate}}
                    </a>
                    <a><i class="far fa-comments" aria-hidden="true"></i> {{serviceProvider.countComment}}</a>
                    <a><i style=" color: #FFC107;" class="fas fa-star"
                          aria-hidden="true"></i> {{serviceProvider.raiting}}</a>
                  </div>
                  <button *ngIf="isCurentProvider(serviceProvider.userDTO?.id)" style="background-color: darkgreen"
                          [routerLink]="['/update-service-provider',serviceProvider.id]"
                          class="genric-btn primary">Update
                  </button>
                  <button *ngIf="isCurentProvider(serviceProvider.userDTO.id)" style="background-color: darkred"
                          [routerLink]="['/service-providers',1]"
                          class="genric-btn primary">Delete
                  </button>
                  <button style="float: right; margin-right: 0px; margin-top: -40px;"
                          (click)="getPortfolioByProviderId()"
                          class="genric-btn primary"> Portfolio
                  </button>
                  <br/>
                  <b>Name:</b> {{serviceProvider.name}}
                  <br>
                  <b>e-mail:</b> {{serviceProvider.email}}

                  <hr>
                  <b>Description:</b>
                  <p>
                    {{serviceProvider.description}}
                  </p>
                  <hr>
                  <p class="card-text">
                    <small class="text-muted">Last updated at {{serviceProvider.lastUpdate}}</small>
                  </p>


                  <div class="services text-center">
                    <h2>SERVICES</h2>

                    <div class="row">
                      <div class="col-lg-4 " *ngFor="let service of serviceProvider.services">
                        <div class="service-block text-center">

                          <span>{{service.serviceName}} </span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-lg-4" *ngFor="let feedback of serviceProvider.feedbacks ">
          <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
          <div class='slider center'>
            <div class='love fa fa-heart-o'></div>
            <span class="right">{{feedback.rating}}</span>
            <div class='slide'>
              <div class='quote'>{{feedback.comment}}</div>
            </div>
            <div class='author' style="margin-left: -60px;">
              <img src="{{url+feedback.addressedFrom.image}}">

              From: {{feedback.addressedFrom.username}}
            </div>
            <div class='author' style="margin-left: 120px;">
              <img src="{{url+feedback.addressedTo.image}}">

              To: {{feedback.addressedTo.username}}
            </div>

            <button class="btn btn-success" [routerLink]="['/chat','20002','1']">Communicate</button>

          </div>

        </div>
        </div>
      </div>
    </div>
  <br/>
  <br/>
  <button class="btn btn-danger" routerLink="/" style="margin: 25px;"> Home page</button>
  <br/>
  <br/>
  <app-footer></app-footer>
