<app-nav></app-nav>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<div class="card mb-3" style="max-width: 1200px; margin: 25px; ">
  <div class="row">
    <div class="col-lg-12">
      <div class="blog_left_sidebar">
        <article class="blog_style1">
          <div class="blog_img">
            <img class="img-fluid"
                 src="{{url+serviceProvider.image}}"
                 alt="">
          </div>
          <div class="row no-gutters">
            <div class="blog_text">
              <div class="blog_text_inner">
                <div class="cat">
                  <a><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{serviceProvider.location.city}}
                    ,{{serviceProvider.location.country}}</a>
                  <a><i class="far fa-calendar-alt" aria-hidden="true"></i> {{serviceProvider.registrationDate}}
                  </a>
                  <a><i class="far fa-comments" aria-hidden="true"></i> {{serviceProvider.countComment}}</a>
                  <a><i style=" color: #FFC107;" class="fas fa-star"
                        aria-hidden="true"></i> {{serviceProvider.raiting}}</a>
                </div>
                <br/>
                <button style="background-color: darkgreen" [routerLink]="['/update',1]"
                        class="genric-btn primary">Update
                </button>
                <button style="background-color: darkred" [routerLink]="['/service-providers',1]"
                        class="genric-btn primary">Delete
                </button>
                <button style="float: right; margin-right: 0px;" [routerLink]="['/provider-portfolio',serviceProvider.id]"
                        class="genric-btn primary">My Portfolio
                </button>
                <div class="card-body">
                  <h1 class="card-title">{{serviceProvider.name}}</h1>
                  <h3 class="card-text">{{serviceProvider.email}}</h3>
                  <p class="card-text">Description: {{serviceProvider?.description}}</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated at  {{serviceProvider.lastUpdate}}</small>
                  </p>
                </div>


              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

<div class="row">
<div class="col-lg-4" *ngFor="let feedback of serviceProvider.feedbacks ">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <div class='slider center'>
    <div class='love fa fa-heart-o'  ></div> <span class="right">{{feedback.rating}}</span>
    <div class='slide'>
      <div class='quote'>{{feedback.comment}}</div>
    </div>
    <div class='author'>
      <img src="{{url+serviceProvider.image}}">

      {{serviceProvider.name}}
    </div>
  </div>

</div>
</div>
</div>
  <br/>
  <br/>
  <button class="btn btn-danger" routerLink = "/service-providers" style="margin: 25px;"> Previos page</button>
  <br/>
  <br/>
  <app-footer></app-footer>
