<app-nav></app-nav>
<br/>
<br/>
<br/>
<br/>
<div class="card mb-3" style="max-width: 1200px; ">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img width="400" height="400" src= "http://localhost:8080/service-providers/image/{{serviceProvider.image}}" class="rounded" alt="{{serviceProvider.image}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Name: {{serviceProvider.name}}</h2>
          <h4 class="card-text">Email: {{serviceProvider.email}}</h4>
          <p class="card-text">Description: {{serviceProvider.description}}</p>
          <p class="card-text"><small class="text-muted">Last updated at  {{serviceProvider.lastUpdate}}</small></p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <button class="btn btn-danger" routerLink = "/service-providers"> Previos page</button>
  <br/>
  <br/>
  <app-footer></app-footer>