.img_styles {
  background: red;
  width: 150px;
  height: 150px;
  margin: 5px 20px 5px 15px;
  float: left;
}

.edit-send-submit-buttons {
  height: 40px;
  width: 40px;
}


.email-buttom {
  float: right;
  margin-bottom: 1%;
  border: none;
}

.sent-button {
  float: right;
  margin-right: 1.5%;
  margin-top: 0.7%;
  border: none;
}

.service-provider-email {
  display: inline-block;
  width: 85%;
  margin-left: 2%;
}

.input-email {
  width: 69%;
  float: right;
  margin-right: 5%;
}

.from-to {
  width: 22%;
  display: inline-block;
  float: left;
  margin-top: 4%;
}

.description {
  padding-top: 1%;
  padding-left: 1%;
  flex: 2;
}

.write-menu {
  width: 100%;
}

.send-mail {
  float: right;
  margin-right: 20px;
  width: 97%;
}

.approve {
  float: right;
  margin: 10px 25px 10px 20px;
}

#inputGroupSelect01 {
  margin-bottom: 50px;
}

.btn_menu {
  display: inline-block;
  float: right;
  border: none;
}

.form-group {
  width: 69%;
  float: left;
}

.inline-p {
  display: inline-block;
}
